<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Directory to monitor -->
    <add key="MonitorDirectory" value="D:\DataContainer" />

    <!-- API endpoints -->
    <add key="PatientCreationEndpoint" value="https://aiv2.craniocatch.com/api/v1.8/create/patient/" />
    <add key="ImageUploadEndpoint" value="https://aiv2.craniocatch.com/api/v1.8/analyze/radiography/" />

    <!-- API key -->
    <add key="ApiKey" value="YOURAPIKEY" />

    <!-- Retry mechanism parameters -->
    <add key="MaxRetryCount" value="5" />
    <add key="InitialBackoffDelay" value="1000" /> <!-- in milliseconds -->

    <!-- Log directory -->
    <add key="LogDirectory" value="C:\path\to\log\directory" />
  </appSettings>
</configuration>